.ombra {
    text-shadow: 0 0 10px black;
}

.svg-header {
    width: 7rem;
}

.nav-link {
    color: white;
}

#main-hero h3 {
    font-size: 3rem;
}

.drk::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.1;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px; /* change width */
    height: 10px; /* change height */
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 100%;
}

/* Layout della griglia */
.card-container {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo */
    gap: 20px; /* Spaziatura tra le card */
    justify-content: center; /* Centra le card nella pagina */
}

/* Stile per le card */
.card {
    height: 500px; /* Altezza fissa */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuisce i contenuti */
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd; /* Bordo sottile */
    border-radius: 8px; /* Angoli arrotondati */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombra per migliorare l'aspetto */
}

/* Immagini delle card */
.card img {
    width: 100%; /* Immagine si adatta completamente alla larghezza della card */
    height: 250px; /* Altezza fissa per tutte le immagini */
    object-fit: cover; /* Mantiene le proporzioni, tagliando il contenuto in eccesso */
    border-radius: 5px; /* Arrotonda gli angoli dell'immagine */
}


/* Corpo delle card */
.card-body {
    flex-grow: 1; /* Cresce per occupare lo spazio disponibile */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Spazia i contenuti */
    padding: 10px;
}

/* Testo */
.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.9em;
    margin-bottom: 20px;
    overflow: hidden; /* Nasconde il testo eccedente */
    text-overflow: ellipsis; /* Aggiunge "..." per il testo tagliato */
}

/* Bottone */
.btn {
    align-self: center; /* Centra il bottone */
    padding: 10px 20px;
}

#main-footer, #main-header{
    background-color: #7571bb;
}
